
<kendo-grid  class="pad"
  [data]="gridData"
  [pageSize]="state.take"
  [skip]="state.skip"
  [sort]="state.sort"
  [filter]="state.filter"
  [sortable]="true"
  [pageable]="true"
  filterable="menu"
  [resizable]="true"
  (dataStateChange)="dataStateChange($event)"
             (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
             (save)="saveHandler($event)" (remove)="removeHandler($event)"
             (add)="addHandler($event)"
>
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>Add</button>
  </ng-template>
  <kendo-grid-column field="id" title="ID" width="40" [filterable]="false" [sortable]="false">
  </kendo-grid-column>
  <kendo-grid-column field="firstName" title="First Name">
  </kendo-grid-column>
  <kendo-grid-column field="lastName" title="Last Name">
  </kendo-grid-column>
  <kendo-grid-command-column title="command" width="220">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridEditCommand class="k-primary">Edit</button>
      <button kendoGridRemoveCommand>Remove</button>
      <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
      <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
